<div class=" py-6 bg-white drop-shadow-2xl">
  <div class=" flex justify-around items-center">

    <p class=" font-poppins text-lg font-bold">
      <span class=" text-green-600 font-dancing text-3xl">DR.</span>
      LMSSKINI</p>

    <div class=" flex items-center justify-between ">
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer" (click)="scrollToSection('homeSection')"><a>Home</a></p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer" (click)="scrollToSection('aboutSection')">About</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer" (click)="scrollToSection('serviceSection')">Our services</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer" (click)="scrollToSection('clinicSection')">Our clinic</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer" (click)="scrollToSection('locationSection')">Location</p>
    </div>

    <div class=" bg-black rounded-full">
        <p class=" text-white py-2 px-4 font-roboto hover:cursor-pointer hover:drop-shadow-2xl"
        (click)="scrollToSection('contactSection')"
        >Contact Us</p>
    </div>
  </div>
</div>


