
<div class=" bg-white m-4 rounded-md drop-shadow-2xl">
  <div class="sticky top-0 z-50 bg-white ">
    <app-navbar/>
  </div>
  <!-- Home page -->
  <section id="homeSection">
    <app-home/>
  </section>
  <!-- About page -->
  <section id="aboutSection">
    <app-about/>
  </section>
  <!-- Contact page -->
  <section id="contactSection">
    <app-contact/>
  </section>

  <!-- Location page -->
  <section id="locationSection">
    <div class="bg-black drop-shadow-2xl">
      <div>
        <p class=" font-bold font-oswald text-white text-5xl px-6 pt-12">Our Location</p>
      </div>
      <p class=" font-poppins font-bold text-3xl my-8 text-center bg-white py-2">Visit us and you will experience the quality of all our
        <span class="text-green-700">
        services
        </span>
      </p>

      <p class=" text-center text-white font-poppins text-xl">Find us on the map</p>
      <div class=" mx-16 mt-8 py-8">
        <iframe
          class=" w-full rounded-lg"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3439.0080327878413!2d-8.879236524638007!3d30.464210574714926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb173065f1b7603%3A0x8f89fe7edace5564!2sCentre%20Commercial%20Al%20Badiaa!5e0!3m2!1sfr!2sma!4v1707339605624!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>
  </section>
</div>


