<div class=" my-16 grid grid-cols-2 items-center">
  <!-- Col1 -->
  <div>
    <div class="">
      <p class=" font-bold font-oswald text-5xl px-6">About</p>
    </div>

    <div class="bg-green-600 mx-6 mt-8 rounded-lg drop-shadow-2xl py-2">
      <p class=" text-white text-3xl font-dancing px-4 pt-3">Nice to meet you !</p>
      <div class=" mx-8 my-4">
        <p class=" text-left text-white font-poppins">It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout.
          The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content here.</p>
      </div>
    </div>
  </div>

  <!-- Col2 -->
  <div class="mx-8 flex justify-center ">
    <div class="relative drop-shadow-2xl">
      <img src="assets/DentalExam2.jpg" class=" rounded-full">
      <div class="h-full w-full absolute top-0 rounded-full bg-black bg-opacity-10"></div>
      <p class=" absolute -bottom-2 -right-8 font-bold text-green-700 font-dancing text-xl ">Dr. LMSSKINI Abdellatif</p>
    </div>

  </div>

</div>
