<div class=" py-6 ">
  <div class=" flex justify-around items-center">

    <p class=" font-poppins text-lg font-bold">
      <span class=" text-green-600 font-dancing text-3xl">DR.</span>
      LMSSKINI</p>

    <div class=" flex items-center justify-between ">
      <p class="mx-2 p-1 rounded-lg border-2 border-green-400 font-roboto hover:cursor-pointer">Home</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer">About</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer">Our services</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer">Our clinic</p>
      <p class="mx-2 p-1  font-roboto hover:cursor-pointer">Location</p>
    </div>

    <div class=" bg-black rounded-full">
      <p class=" text-white py-2 px-4 font-roboto hover:cursor-pointer hover:drop-shadow-2xl">Contact Us</p>
    </div>

  </div>

</div>

