<div class=" bg-black h-screen flex justify-center items-center">

    <div class="">
      <p class=" text-white text-9xl font-bold font-dancing text-center">4 <span class="text-green-600">0 </span>4</p>
      <div class=" grid grid-cols-3 mt-8">
          <div></div>
          <div>
            <p class=" text-white font-poppins font-bold text-5xl text-center">SORRY? THERE'S</p>
            <p class=" text-green-600 font-poppins font-bold text-5xl text-center">NOTHING HERE</p>

            <div class=" flex justify-center mt-11">
              <button class=" font-poppins text-white font-bold bg-green-600 px-3 py-2 rounded-md" (click)="backToHome()">
                Go Home
              </button>
            </div>

          </div>
          <div></div>
      </div>

    </div>

</div>
